@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary
}

.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto
}

.dark {
  --color-bg-primary: #101012;
  --color-bg-primary: #001a46;
  --color-bg-secondary: #e3e30d;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #e6de81;
  --color-bg-input: #810707;
  --color-bg-button: #311a01;
}

.light {
  --color-bg-primary: #f0ff65;
  --color-bg-secondary: #7fbfff;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #53020d;
  --color-bg-input: #04f0f8;
  --color-bg-button: #f9b52c;
}